<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Markdown Memo App</title>
  </head>
  <body>
    <h1>メモ一覧</h1>
    <ul>
      {{range $index, $memo := .}}
      <li>
        {{ $memo.Title }}
        <form action="/delete" method="POST" style="display: inline">
          <input type="hidden" name="index" value="{{ $index }}" />
          <button type="submit">削除</button>
        </form>
      </li>
      {{else}}
      <li>メモがありません。</li>
      {{end}}
    </ul>
    <a href="/create">新しいメモを作成</a>
  </body>
</html>
